.movie {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.movie__picture {
  width: 100%;
  height: 151px;
  object-fit: cover;
  overflow: hidden;
}

.movie__info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 11px 0 22px;
  border-bottom: 1px solid #e8e8e8;
}

.movie__name {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.movie__like-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.movie__like-btn:hover {
  opacity: 0.8;
}

.movie__delete-btn {
  opacity: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.movie__delete-btn:hover {
  opacity: 1;
}

.movie__duration {
  margin: 0;
  padding: 6px 0 0 0;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
}

@media screen and (max-width: 1023px) {
  .movie__picture {
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .movie__picture {
    height: 168px;
  }

  .movie__name {
    font-size: 12px;
    line-height: 14.5px;
  }

  .movie__duration {
    font-size: 10px;
    line-height: 12px;
  }

  .movie__delete-btn {
    opacity: 1;
  }

  .movie__delete-btn:hover {
    opacity: 0.8;
  }
}
