.burger {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: visibility 0.2s linear, opacity 0.2s linear;
  z-index: 2;
}

.burger_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

.burger__container {
  width: 520px;
  height: 100%;
  background-color: #fff;
  padding: 0 0 90px;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burger__close-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 22.5px;
  right: 22.5px;
}

.burger__close-btn:hover {
  opacity: 0.8;
}

.burger__nav {
  margin: 0;
  width: 340px;
  list-style: none;
  position: absolute;
  top: 159px;
  left: 90px;
  padding: 0;
}

.burger__item {
  padding: 0 0 28px 0;
}

.burger__link {
  text-decoration: none;
  text-align: center;
}

.burger__link:hover {
  opacity: 0.7;
}

.burger__link-txt {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #000;
}

.burger__link-txt_active {
  text-decoration: underline;
}

.burger__account-btn {
  width: 100px;
  height: 32px;
  position: absolute;
  bottom: 90px;
  left: 210px;
  border-radius: 40px;
  background-color: #fff;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  justify-self: flex-end;
}

.burger__account-btn:hover {
  opacity: 0.8;
}

.burger__icon-block {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background-color: #f9f9f9;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger__btn-text {
  padding: 0;
  margin: 0 0 0 11px;
  font-size: 13px;
  line-height: 12px;
  font-weight: 500;
  color: #000;
}

.burger__item:last-child {
  padding: 0;
}

@media screen and (min-width: 1023px) {
  .burger {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .burger__container {
    width: 100%;
  }

  .burger__nav {
    width: 300px;
    top: 144px;
    left: 10px;
  }

  .burger__account-btn {
    bottom: 80px;
    left: 110px;
  }

  .burger__item {
    padding: 0 0 25px 0;
  }

  .burger__close-btn {
    top: 13px;
    right: 25px;
    width: 22px;
    height: 22px;
  }
}
